 /* footer style */
 .footer-bg{
    background-color: #005f73;
}
 .scale:hover{
    transform: scale(1.1);
    color: aliceblue !important;
 }
 .go-up {
    position: fixed;
    bottom: 90px;
    right: 30px;
 }
 /* end footer style */



 /* for transport */
 .card{
    transition: all 1s ease;
  }

  .boxes{
    transition: all 1s ease;
    display: block;
    z-index: 4;
  }

  .hidden{
    transition: all 1s ease;
    z-index: 10;
    display: none;
  }

  .card:hover .boxes{
    transition: all 1s ease;
    display: none;
  }

  .card:hover .hidden{
    transition:all 2s ease-in-out;
    display: block;
    background-color: aquamarine;
    
    transform: translate(0 ,-3rem);
  }
  
  .card-img-top{
    z-index: 2;
  }
  

  .icons{
    transition: all 0.5s ease;
  }
  .icons:hover{
    background-color: #badde4;
  }

  .mybackground{
      background-color: #005f73; 
  }
  .dropdown:hover .dropdown-menu {
      display: block;
  }
  .nav-link:hover {
      color: blue !important;
  }
 /* for transport */