/* header */
.icons{
    transition: all 0.5s ease;
  }
  .icons:hover{
    background-color: #badde4;
  }

  .mybackground{
      background-color: #005f73; 
  }
  .dropdown:hover .dropdown-menu {
      display: block;
  }
  .nav-link:hover {
      color: blue !important;
  }

/* header end */

/* footer style */
.footer-bg{
    background-color: #005f73;
}
 .scale:hover{
    transform: scale(1.1);
    color: aliceblue !important;
 }
 .go-up {
    position: fixed;
    bottom: 90px;
    right: 30px;
 }
 /* end footer style */