/* headerstyle */
.mybackground{
    background-color: #005f73;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
 .nav-link:hover {
     color: blue !important;
 }
 
 /* end headerstyle */

 /* 01-thirdpagestyle */
.myimage{
    background-image: url('https://wallpaperaccess.com/full/5362.jpg'); 
    background-position: center; 
}

.myborder-color{
    border-color: #ee9b00 !important;
}
.img-fluid{
    width: 100px;
    height: 64px;
}
/* 01-thirdpage style*/

  /* footer style */
.footer-bg{
    background-color: #005f73;
}
 .scale:hover{
    transform: scale(1.1);
    color: aliceblue !important;
 }
 .go-up {
    position: fixed;
    bottom: 90px;
    right: 30px;
 }
 /* end footer style */