/* header style */
.mycolor{
    background-color: #005f73;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
 .nav-link:hover {
     color: blue !important;
 }
 
 /* end header */


 /* 02-thirdpage style */
 .client-box{
    width: 500px;
    height: 500px;
   
 }
.client-img{
    background-image: url(https://wallpaperaccess.com/full/2374143.jpg);
    background-position: center;
}
.img-text{
    height: 300px;
    padding: 40% 5%;
}
.img-area{
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    /* top: 15px;
    left: 190px; */
}
.img-area img{
    width: 100%;
}




  /* footer style */
.footer-bg{
    background-color: #005f73;
}
 .scale:hover{
    transform: scale(1.1);
    color: aliceblue !important;
 }
 .go-up {
    position: fixed;
    bottom: 90px;
    right: 30px;
 }
 /* end footer style */